*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
html{
    overflow-y:auto;
    overflow-x: hidden;
    height: 100%;
}
body{
    /* overflow-x: hidden;  Trong này thì Aos không chạy */
    height: 100%;
}

.Header{
    height: auto;
    background-color: #3B7CD6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}
.Header_left_image {
    height: 50px;
    width: 216px;
    padding: 14px 0;
}

.Header_left_img {
    width: 100%;
}
.Header_right{
    font-size: 18px;
    color: white;
    line-height: 70px;
    font-family: "Roboto", sans-serif;
}

.Header_container{
    text-align: end;
   
}
i.fas.fa-shopping-cart.icon_cart {
    color: white;
    margin: 0 0 0 15px;
    font-size: 24px;

}
.header_item{
    height: 100%;
    
}

.Header_product{
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.01) 0px 15px 12px;}

.Header_product_item{
    text-align: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.Header_product_item:hover{
    background-color: #F5F5F5;
    color: #5c5c5c;
}
.Header_product_item_icon{
    font-size: 20px;
    margin: 4px 0;
}

.container_left_img{
    width: 100%;
}
.container_left_text{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}

.Content {
    margin-top: 120px;
    background-color: white;
    padding-top: 10px;
}

.Content_container_left {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}
.Content_container_right {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.row.content_info {
    padding-top: 24px;
}

.content_info_left{
    padding: 20px 0;
}

.content_info_item_image img{
    width: 100%;
}

.content_info_item_text h2{
    margin: 0 0 10px 0;
}
.content_info_item_text p{
    margin: 10px 0 0 0;
    color: #8A8A8A;
}
.content_info_right_item_img img{
    width: 100%;
}


.content_info_right_item p{
    margin-top: 10px;
}

.border{
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    margin: 0 0 20px 0;
    padding: 20px 0;
    cursor: pointer;
}

.border:hover{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.content_info_right_item {
    margin-bottom: 30px;
    cursor: pointer;
}

.content_info_right_item:hover img{
opacity: 0.9;
}

/* //////////////////////////////////////////////////////////   LAPTOP     ////////////////////////////////////// */
.Laptop_container{
    margin-top:140px;
}

.Laptop_title{
    height: 50px;
    background-color: #F1F2F2;
    padding-left: 10px;
}
.Laptop_title p{
    color: #3B7CD6;
    font-size: 24px;
    line-height: 50px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.Laptop_item{
    box-shadow: rgb(0 0 0 / 10%) 1px 4px 14px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
}

.Laptop_item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 4px 5px 20px;
}

.Laptop_item h4 {
    font-size: 14px;
    margin: 6px 8px;
}

.Laptop_item p {
    margin: 0 0 8px 8px;
    color: blue;
}
.Laptop_item_img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.Laptop_item button {
    margin: 10px 10px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: #3B7CD6;
    color: white;
    cursor: pointer;
}

.Laptop_product{
    margin-top: 20px;
    justify-content:flex-start;
}

/* .Laptop_item {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    margin: 4px;
} */

.selected{
    /* background-color: #F5F5F5; */
    color: #3B7CD6;
}
input.search_products {
    padding: 10px 20px 10px 10px;
    width: 80%;
    outline: none;
    border: 1px solid rgba(0, 0, 0,0.5);
}
button.btn_search {
    padding: 11px;
    border: none;
    background-color: #3B7CD6;
    cursor: pointer;
    color: white;
}
.search_product {
    text-align: end;
}
.Laptop_detail{
    margin-top: 140px;
   
}
.detail_header{
    padding-top: 20px;
}

.detail_header img{
    width: 60%;
}

.detail_header_right{
  font-family: "Roboto", sans-serif;
}

.detail_header_right h2{
margin: 10px 0;
color: #3B7CD6 ;
}

.detail_header_right h3{
    margin: 10px 0;
}
.detail_header_right li{
    margin: 10px 0;
    color: #535353;
}
button.btn_add_detail {
    padding: 10px 14px;
    color: white;
    background-color: red;
    border: 1px solid red;
    margin: 10px 0;
    cursor: pointer;
}

.detail_product_header{
margin-top: 20px;
  font-family: "Roboto", sans-serif;

}
.detail_product_text{
    padding: 0 10px;
}
.detail_product_border{
    margin: 20px 0;
}
.detail_product_border h2{
    margin: 14px 0;
}
.detail_product_border div .detail_text{
    margin: 10px 0;
    border-bottom: 1px solid rgb(211, 211, 204);
    color: rgb(51, 51, 51);
}

.description_1 img{
    width: 100%;
}

.description_1{
    line-height: 32px;
    margin: 20px 0;
}

/* CART ///////////////////////////////// */
.Cart{
    margin-top: 140px;
    font-family: "Roboto", sans-serif;

}

.row.cart_title {
    font-size: 22px;
    margin-top: 32px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.cart_product{
    margin-top: 20px;
}


.cart_product img{
    width: 100%;
    object-fit: cover;
}
.cart_product{
    line-height: 70px;
    border-bottom: 1px solid rgb(184, 182, 182);
}
span.btn_quantity {
    margin-left: 10px;
}
button.btn-quantity {
    padding: 4px 9px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid rgb(184, 182, 182);;
}
i.far.fa-times-circle.icon_delete {
    font-size: 24px;
    color: red;
    cursor: pointer;
}
button.btn_pay {
    padding: 10px 8px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.Laptop_title_icon{
    margin: 0 10px;
}
.icon_quantity {
    display: inline-block;
    position: relative;
}

.icon_quantity_user{
    display: inline-block;
    position: relative;
}
.icon_quantity_user:hover .user_option{
    transform: translateY(0px);
    opacity: 1;
    visibility:visible;
}
.icon_user{
    font-size: 32px;
    margin: 0 0 0 24px;
    cursor: pointer; 
}

.user_option{
    position: absolute;
    z-index: 5;
    color: black;
    width: 138px;
    background-color: rgb(255, 255, 255);
    text-align: start;
    padding: 10px;
    line-height: 50px;
    border-radius: 4px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    transform: translateY(-50px);
    opacity: 0;
    visibility:hidden;
    transition: 0.4s;
    cursor: pointer;
}

.user_option_item:hover{
    color: blue;
}
.icon_quantity span{
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    color: blue;
}

.icon_quantity p {
    display: inline;
    position: absolute;
    top: -15px;
    left: 38px;
}
.Header_right_cartmini{
    position: absolute;
    right: -14px;
    width: 338px;
    background-color: white;
    padding: 0px 10px 0 10px;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    visibility:hidden;  
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.5s;

    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Header_right_cartmini_item{
    border-bottom: 1px solid rgba(170, 170, 170,0.5);
    cursor: pointer;
    line-height: 42px;
}
.Header_right_cartmini_title{
    color: #3B7CD6;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
}
i.fas.fa-shopping-cart.icon_cart2 {
    color: #3B7CD6;
    margin: 0 16px;
    font-size: 26px;
}
.Header_right_cartmini_item img{
    width: 100%;
    object-fit: cover;
    padding-left: 10px;
}
.Header_right_cartmini_item p,
.Header_right_cartmini_item h3{
    color: black;
    text-align: left; 
    line-height:40px;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.Header_right_cartmini_item p{
    color: red;
}
.Header_right_cartmini_item h3{
    font-size: 16px;
}

.Cart_Mini{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.Cart_Mini:hover .Header_right_cartmini{
    transform: translateY(0px);
    opacity: 1;
    visibility:visible;
}

@keyframes hidden{
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
} 

.message_cartmini{
    text-align: center;
    color: rgb(255, 0, 0);  
}



.btn_add_to_cart:hover:after{
    /* background-color: #3B7CD6;
    border: 1px solid #3B7CD6;
    color: white;
    transition: 0.3s; */
    left: 0;
}

.btn_add_to_cart{
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    background-color: #3B7CD6;
}
.btn_add_to_cart:after {
    content: "NOW";
    position: absolute;
    bottom: -2px;
    height: 113%;
    width: 100%;
    background-color: #4ed333;
    left: 100%;
    line-height: 33px;
    transition: 0.4s;
}


.Laptop_item_img{
    position: relative;
}

.mgtrenduoi{
    margin: 10px 0;
    padding: 0 10px !important;
}

.Laptop_product_info {
    position: absolute;
    width: 186px;
    left: 0px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.6);
    /* transform: translateY(-184px); */
    opacity: 0;
    transform: translateY(0);
    transition: 0.4s;
    color: rgb(255, 255, 255);
    padding: 5px 0 0px 5px;
    line-height: 22px;
    font-size: 15px;
}


.Laptop_item:hover .Laptop_product_info{
    transform: translateY(-184px);
    opacity: 1;
}

.Toastify{
    line-height: 28px;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-out;
  }

  .btn_more {
    background-color: #3B7CD6;
    font-size: 15px;
    color: white;
    border-radius: 30px;
    padding: 14px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}
.btn_more:hover{
    opacity: 0.9;
}

.btn_load_container{
    height: 45px;
    text-align: center;
    margin: 20px 0;
    
}

/* ****************** CSS Scrollbar start **************************************************/
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* ****************** CSS Scrollbar end **************************************************/

.Garbage_icon{
    color: #555;
    font-size: 18px;
    transition: 0.5s;
}
.Garbage_icon:hover{
    color: red;
}
.Garbage-btn{
    padding-left: 0px !important;
    padding-right: 24px !important;
}

/* ////////////////////////////////////////// */
.mgh{
    margin: 32px 140px 32px 140px;
}
.Btb_pagination{
    justify-content: center;
    margin: 20px 0;
}
button.Btb_pagination_item {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    color: black;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
}

.Btb_pagination_item.pagecurent{
    background-color: dodgerblue;
    color: white;
}

.home_options{
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    padding: 24px;
    cursor: pointer;
    height: 100%;
}

.home_option{
    height: auto;
    justify-content:center;
}
.home_title_1_imge img{
    width: 100%;
}

.home_option h2 {
    text-align: center;
    font-size: 34px;
    padding: 40px 0 30px 0;
}

.home_option div{
    text-align: center;
}

.home_option p{
    font-size: 18px;
}
.home_options_icon {
    font-size: 47px;
    margin: 10px 0;
    color: #3B7CD6;
}
.home_title_container{
    margin: 60px auto !important;
}
.Latest_project {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    color: #3B7CD6;

}
.Latest_project_text{
    text-align: center;
    font-size: 20px;
}
select.Select_option_filter {
    font-size: 16px;
    padding: 6px;
    outline: none;
    cursor: pointer;
}
.select.Select_option_filter .Select_options_filter{
    margin: 4px 0;
}
.col.l-7.m-7.c-7.Filter_products {
    text-align: end; 
    line-height: 30px; 
    font-size: 24px; 
}
.Filter_products >span{
    font-size: 18px;
}

.text_img_cart_empty {
    font-size: 22px;
    color: firebrick;
}
img.img_cart_empty { 
    width: 36%;
     text-align: center; 
}
.img_cart {
    text-align: center;
}   
.text_name_height{
    height: 37.5px;
}

/* phan work mui ten start*/
.work_container{
    padding: 0 15px !important;
    text-align: center;
    font-family: 'Asap', sans-serif;
    margin-top: 50px;
}
.work_item_icon{
    font-size: 74px;
    margin: 10px;
    color: steelblue;
}
.work_item h2{
    font-size: 30px;
    margin: 10px 0;
}
.work_item p{
color: #ADADAD;
font-size: 18px;
}
.work_item{
    border: 1px solid #f1f1f1;
    /* height: 240px; */
    padding: 20px 10px;
    position: relative;
}
.work_item:after{
    content: '';
    position: absolute;
    top: 0;
    right: -133px;
    width: 217px;
    height: 200px;
    /* background-color: aliceblue; */
    background: url("https://code-theme.com/html/listingo/images/arrow-big.png") no-repeat center center;
    z-index: 1;
}
.noAffter:after{
    content: none;
}
/* phan work mui ten end*/

.recomment_home h2 {
    margin: 60px 0 20px 0;
    font-size: 30px;
}

.recomment_home p {
    font-size: 19px;
    margin: 12px 0px;
}

