.Modal_favorite{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: white;
    z-index: 51 !important;
    padding-top: 120px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    text-align: center;
    overflow: hidden;
    padding-left: 10px;

    max-height: 860px;
    overflow-y: auto;
    overflow-x: hidden;


  }

  .Modal_favorite_fixedtop {
    position: fixed;
    background-color: white;
    height: 12%;
    width: inherit;
}

  .favorite_img img {
      width: 100%;
  }
  .Modal_favorite_item{
    box-shadow: rgb(0 0 0 / 8%) 2px 2px 0px;
    margin: 8px  0 0 0;
    cursor: pointer;
  }
  .Modal_favorite_icon_close {
    font-size: 40px;
    text-align: initial;
    color: red;
    cursor: pointer;

}
.Modal_favorite_title{
  margin: 0 0 20px 0;
  color: red;
  font-size: 24px;
  text-align: center;
}
.icon_add_cart{
    font-size: 28px;
    cursor: pointer;
    color: cornflowerblue;
}
.Modal_favorite_product_mt {
  margin-top: 110px;
}
 /*--------------------------------------------------- An thanh scroll---------------------------------------------------------- */
.Modal_favorite::-webkit-scrollbar {     
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}